// Variable overrides
$enable-shadows: false;
$background-color: #EEEEEE;
$background-color2: #F7F7F7;
$sidebar-width: 260px;
$primary: #c50000;
$success: #32CA41;
$text-color: #3C4858;
$background-color-input: #F7F7F7;

$text-item-menu: #3C4858;

$background-color-grey-btn-hover: #eaeaea;
$grid-gutter-width: 15px;
$input-font-size: 14px;

$pagination-color: black;
$pagination-hover-color: black;
$pagination-active-bg: black;
$pagination-active-border-color: black;
$pagination-focus-box-shadow: none;

$component-active-bg: #32CA41;

$btn-padding-y-sm: 0.25rem;

$background-card-info: #4855d1;

$custom-control-indicator-checked-disabled-bg: rgba($success, .5) !default;
